.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 45px;
  z-index: 2;
}
.general {
  position: relative;
  padding-top: 130px;
  padding-bottom: 15px;
  width: 100%;
  min-height: 80vh;
  background: url(../img/Vector.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .container {
    display: flex;

    @media (max-width: 1025px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
.pop-up {
  z-index: 5;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: $white;
  display: none;
  flex-direction: column;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 575px) {
    top: 60%;
  }
  &.active {
    display: flex;
  }
  .close {
    position: absolute;
    top: 4px;
    right: 10px;
    font-family: "Montserrat";
    cursor: pointer;
  }
  &__data {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 24px;
    color: $pink;
    margin-bottom: 20px;
  }
  &__name {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
  }
  &__second-name {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
  }
  &__email {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
  }
}
.general-item {
  width: 60%;
  @media (max-width: 1025px) {
    width: 100%;
  }
  &__title {
    font-family: "Montserrat";
    font-weight: 800;
    color: $white;
    font-size: 40px;
    @media (max-width: 575px) {
      font-size: 30px;
      text-align: center;
    }
  }
  &__descr {
    font-family: "Montserrat";
    font-weight: 500;
    color: $white;
    font-size: 18px;
    margin-top: 20px;
    @media (max-width: 575px) {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
  &__video {
    width: 560px;
    height: 330px;
    position: absolute;
    top: 300px;
    left: 0;
    z-index: 2;
    @media (max-width: 1900px) {
      position: static;
      width: 100%;
      margin-top: 0px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;

    padding: 20px 14px 40px 14px;
    background: $white;
    @media (max-width: 1025px) {
      width: 400px;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
    &__step {
      background: $blue;
      padding: 7px 11px;
      font-family: "Montserrat";
      font-weight: 600;
      color: $white;
      font-size: 18px;
      border-radius: 20px;
      cursor: pointer;
    }
    &__title {
      margin-top: 10px;
      font-family: "Montserrat";
      font-weight: 900;
      color: black;
      font-size: 30px;
      text-align: center;
      line-height: 35px;
      margin-bottom: 10px;
    }
    &__input {
      padding-left: 20px;
      width: 100%;
      background: $gray;
      border: none;
      outline: none;
      height: 50px;
      margin-bottom: 10px;
      border-radius: 25px;
      font-family: "Montserrat";
      font-weight: 900;
      color: black;
      font-size: 14px;
    }
    &__btn {
      font-family: "Montserrat";
      font-weight: 900;
      color: $white;
      font-size: 13px;
      text-align: center;
      height: 60px;
      width: 100%;
      border-radius: 25px;
      border: none;
      outline: none;
      background: linear-gradient(
        to bottom,
        rgb(250, 99, 255),
        rgb(246, 107, 241),
        rgb(242, 116, 228),
        rgb(238, 124, 214),
        rgb(234, 133, 201),
        rgb(230, 141, 187),
        rgb(227, 150, 174),
        rgb(223, 158, 160),
        rgb(219, 167, 147),
        rgb(215, 175, 133),
        rgb(211, 184, 120),
        rgb(207, 192, 106)
      );
    }
  }
  &__offer {
    position: relative;
    display: block;
    padding-left: 50px;
    font-family: "Montserrat";
    font-weight: 500;
    color: $white;
    font-size: 14px;
    margin-top: 20px;
    @media (max-width: 1025px) {
      margin-bottom: 100px;
    }
    &::before {
      content: url(../img/flag.png);
      position: absolute;
      top: 5px;
      left: 0px;
    }
  }
  &:nth-last-child(1) {
    width: 40%;

    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1025px) {
      width: 100%;
      padding-left: 0px;
      margin-top: 30px;
    }
  }
  &:nth-child(1) {
    position: relative;
    padding-right: 50px;
    @media (max-width: 1025px) {
      width: 100%;
      padding-right: 0px;
    }
  }
}
.money-section {
  width: 100%;
  min-height: 160px;
  background-image: url(../img/Rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  .container {
    display: flex;
    justify-content: flex-end;
  }
}
.money-section__item {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  &__course {
    display: flex;
    &__name {
      margin-right: 20px;
      &__text {
        font-family: "Montserrat";
        font-weight: 500;
        color: $white;
        font-size: 20px;
        margin-right: 10px;
      }
      &__currency {
        font-family: "Montserrat";
        font-weight: 500;
        color: $pink;
        font-size: 20px;
      }
    }
  }
  &__sponsor {
    margin-top: 15px;
    display: flex;
    &__img {
      margin-right: 15px;
    }
  }
}
.live {
  background-image: url(../img/back.png);
  width: 100%;
  min-height: 19.2vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &__title {
    font-family: "Montserrat";
    font-weight: 900;
    color: black;
    font-size: 14px;
    margin-top: 10px;
  }
}
.slider {
  margin-top: 40px;
}
.slider-item {
  width: 230px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: $white;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px 20px;
  position: relative;
  overflow-y: hidden;
  border-radius: 4px;
  outline: none;
  @media (max-width: 1025px) {
    width: 33.333%;
  }
  &__name {
    font-family: "Montserrat";
    font-weight: 900;
    color: black;
    font-size: 16px;
    margin-top: 10px;
  }
  &__date {
    font-family: "Montserrat";
    font-weight: 700;
    color: $gray;
    font-size: 16px;
  }
  &__currency {
    font-family: "Montserrat";
    font-weight: 900;
    color: $pink;
    font-size: 20px;
    margin-top: 25px;
  }
  &__img {
    width: 50px;
    height: 60px;
    position: absolute;
    right: 40px;
    bottom: -10px;
    opacity: 0.5;
  }
}
.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
  @media (max-width: 1200px) {
    overflow: hidden;
    padding: 10px 0;
  }
  @media (max-width: 575px) {
    padding: 20px 0;
  }
}
